<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="blog-list.css">
    <link rel="stylesheet" href="new.css">
</head>

<body>
    <main class="t">
        <div class="wrapper">
            <nav>
                <input type="radio" name="tab" id="home">
                <input type="radio" name="tab" id="new">
                <input type="radio" name="tab" id="edit">
                <input type="radio" name="tab" id="out">

                <label for="home" class="home">
                    <a><i class="fa fa-home" aria-hidden="true"></i>home</a>
                </label>

                <label for="new" class="new">
                    <a><i class="fa fa-plus-square-o" aria-hidden="true"></i>new</a>

                </label> <label for="edit" class="edit">
                    <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i>edit</a>
                </label>

                <label for="out" class="out">
                    <a><i class="fa fa-sign-out" aria-hidden="true"></i>user</a>
                </label>

                <div class="tab"></div>
            </nav>
        </div>
    </main>
    <div>
        <h1 class="blog-list">Blog List</h1>
        <section id="blog-register" class="non-active">
            <h1>新規作成</h1>
            <div class="memo-container">
                <form class="memo-form">
                    <label for="title">タイトル</label>
                    <input type="text" id="title" required>

                    <label for="date">日付</label>
                    <input type="text" id="date" required>

                    <label for="category">カテゴリ</label>
                    <input type="text" id="category" required>

                    <label for="image">画像</label>
                    <input type="file" id="image">

                    <label for="details">詳細</label>
                    <textarea id="details" rows="9"></textarea>

                    <div class="memo-buttons">
                        <button id="save">登録</button>
                        <button id="back">戻る</button>
                    </div>
                </form>
            </div>

            
        </section>
        <section id="blog-edit" class="non-active">
        <div>
            <table class="example3">
                <tr>
                    <th>カテゴリ</th>
                    <th>編集</th>
                    <th>削除</th>
                </tr>
            </table>
            </div>
        </section>
    </div>

    
    <script src="../jquery-1.11.1.min.js"></script>
    <script src="load.js"></script>
</body>

</html>