a{
    display: inline-block;
    background-color: aquamarine;
    color: aliceblue;
    border: 3px solid red;
    padding: 30px;
    /*margin: 100px;*/
}
p{
    border-style: dashed;
    border-width: 3px 10px;
    border-color: blue;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: azure;
    margin: 50px 100px;
}

h1{
    border-top: 3px dashed green;
    background-color: aliceblue;
    padding-top: 50px;
    margin-top: 50px;
}