<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>

<body>
    <div class="container form">
        <h1>Login</h1>
        <form th:action="@{/login/process}" method="post">
            <input type="text" class="tbx" name="accountEmail" placeholder="メールアドレス" required>
            <input type="password" class="tbx" name="password" placeholder="パスワードを入力" required>
            <input type="submit" class="sub" value="ログイン">
        </form>
    </div>
    <script src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</body>

</html>