div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#a{
    background-image: url(mountains.jpg);
    background-size: contain;
    background-repeat: no-repeat;


}

#b{
    background-image: url(mountains.jpg);
    background-size: cover;
   /*background-repeat: no-repeat;*/
    

}

#c{
    background-image: url(mountains.jpg);
    background-size: 100% 100%;
   /*background-repeat: no-repeat;*/
    

}