<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
    <div class="contents">
        <div class="main-1">
            <div class="ka"></div>
            <div class="main-2">
                <form th:action="@{/user/register/process}" method="post">
                    <h1>Register</h1>
                    <input type="text" class="tbx" name="accountName" placeholder="ユーザー名" required>
                    <input type="text" class="tbx" name="accountEmail" placeholder="メールアドレス" required>
                    <input type="password" class="tbx" name="Password" placeholder="パスワード" required>
                    <input type="submit" class="sub" value="Register">
                </form>
              </div>
        </div>
    </div>
</body>

</html>